
<div class="checkout-container">

    <h1 class="checkout-title">🛒 Récapitulatif de votre panier</h1>
  
    <div class="checkout-grid">
  
      <div class="cart-items">
  
        <div class="cart-item" *ngFor="let item of cartItems; let i = index">
  
          <img [src]="item.product.image" class="item-img" alt="{{item.product.name}}">
  
          <div class="item-details">
            <h2>{{ item.product.name }}</h2>
            <p class="description">{{ item.product.description }}</p>
            
            <div class="price-row">
              <span class="unit-price">{{ item.product.price }} DT</span>
            </div>
  
            <div class="quantity-box">
              <button (click)="decreaseQty(i)">-</button>
              <input type="number" value="{{item.quantity}}"  min="1">
              <button (click)="increaseQty(i)">+</button>
            </div>
          </div>
  
          <div class="subtotal">
            {{ item.product.price * item.quantity }} DT
          </div>
  
          <button class="delete-btn" (click)="removeItemFromBasket(item.product.id)">🗑️</button>
        </div>
  
        <div *ngIf="cartItems.length === 0" class="empty-cart">
          Votre panier est vide 😥
        </div>
      </div>
  
      <!-- ✅ Récapitulatif -->
      <div class="summary-box">
  
        <h2>Récapitulatif</h2>
  
        <div class="summary-line">
          <span>Sous-total</span>
          <span>{{ getSubtotal() }} DT</span>
        </div>
  
        <div class="summary-line">
          <span>Livraison</span>
          <span>{{ deliveryFee }} DT</span>
        </div>
  
        <div class="summary-total">
          <span>Total</span>
          <span>{{ getTotal() }} DT</span>
        </div>
  
        <button class="pay-btn" [disabled]="getTotal()===0" (click)="pay()">
          ✅ Procéder au paiement
        </button>
  
      </div>
    </div>
  </div>
  

  <div *ngIf="isLoggedIn" class="modal-overlay">
    <div class="modal-box auth-modal">
      <div class="modal-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="auth-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
        </svg>
      </div>
  
      <h2>Connexion requise</h2>
      <p class="modal-text">Veuillez vous connecter à votre compte pour finaliser votre paiement.</p>
  
      <div class="modal-actions">
        <button class="btn-primary" (click)="closeLoginModal()">Se connecter</button>
        <button class="btn-secondary" (click)="closeModal()">Plus tard</button>
      </div>
      
      <div class="modal-footer">
        <p>Pas encore de compte ? <a [routerLink]="['/register']" class="link">Créer un compte</a></p>
      </div>
    </div>
  </div>
  