<ul class="navbar-nav">
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:" data-toggle="dropdown">
        <i class="icon feather icon-shopping-cart"></i>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end notification">
  
        <div class="notification-head">
          <h6 class="d-inline-block m-b-0">Panier</h6>
          <div class="float-end">
            <a href="javascript:" class="m-r-10 text-decoration-none" (click)="emptyBasket()">vider</a>
          </div>
        </div>
  
        <ul class="notification-body cart-list">
          <li class="n-title">
            <p class="m-b-0">Vos produits</p>
          </li>
        
          <li class="notification" *ngIf="basket?.length > 0">
            @for (item of basket; track $index) {
              <div class="cart-item d-flex mb-2 pb-2">
                <img class="img-radius" [src]="item.product.image" alt="" />
                <div class="flex-grow-1 ms-2">
                  <p class="m-0"><strong>{{ item.product.name }}</strong></p>
                  <p class="m-0 text-muted">Quantité : {{ item.quantity }}</p>
                </div>
              </div>
              
              <!-- Séparateur -->
              <hr class="cart-separator" *ngIf="$index < basket.length - 1">
            }
          </li>
        
          <li class="notification" *ngIf="basket?.length === 0">
            <p class="text-center text-muted">Votre panier est vide 🛒</p>
          </li>
        </ul>
        
  
        <div class="notification-footer">
          <a href="javascript:" (click)="goToCheckOut()">voir le panier</a>
        </div>
  
      </div>
    </div>
  </li>
  
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather icon-settings"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img src="assets/images/user/avatar-2.jpg" class="img-radius" alt="User-Profile-Image" />
          @if(user){<span>{{user.firstName}} {{user.lastName}}</span>}
          @else {<span>Invité</span>}
          @if(user){<a href="javascript:" class="dud-logout" title="Logout" (click)="logOut()">
            <i class="feather icon-log-out"></i>
          </a>
        }
        </div>
        <ul class="pro-body">
          @if(user){<li [routerLink]="['/profile']">
            <a href="javascript:" class="dropdown-item" >
              <i class="feather icon-user"></i>
              Profile
            </a>
          </li>}
        </ul>
      </div>
    </div>
  </li>
</ul>
