<div class="auth-wrapper">
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
          </div>
          <h3 class="mb-4">Réinitialisation du Mot de Passe</h3>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email" />
          </div>
          
        
          <button class="btn btn-primary mb-4" [disabled]="resetPasswordForm.invalid">Login</button>
          <p class="mb-2 text-muted">
            Already have an account?
            <a [routerLink]="['/login']">Login</a>
          </p>
          <p class="mb-0 text-muted">
            Don’t have an account?
            <a [routerLink]="['/register']">Sign up</a>
          </p>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showMessage" class="modal-overlay">
    <div class="modal-box">
  
     @if (messageType=='success') { <div class="modal-icon">
        ✅
      </div>}
      @else{<div class="modal-icon">
        ⚠️
      </div>
    }
  
      <h2>Réinitialisation @if(messageType=="error"){échouée} @else {réussite}</h2>
      <p class="modal-text">{{messageText}}</p>
  
      <div class="modal-actions">
        <button class="btn-close" (click)="closeResetPasswordModal()">Compris</button>
      </div>
    </div>
  </div>